<!DOCTYPE html>
<html ng-app>
  <head>
    <title> REGISTER </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
      <h1>
        REGISTER
      </h1>
      <div ng-app="login_register_app" ng-controller="login_register_controller" class="container_form_style">
        <div class="alert {{alertClass}} alert-dismissable" ng-show="alertMsg">

        </div>

    </div>

        name
        <input type="text" ng-model="userName" placeholder="enter your name"/>
        <p>Your name is: {{userName}}</p>
        email
        <input type="text" ng-model="email" placeholder="enter your email"/>
        <p>Your email is: {{email}}</p>
        username
        <input type="text" ng-model="username" placeholder="enter your username"/>
        <p>Your username is: {{username}}</p>
        password
        <input type="text" ng-model="password" placeholder="enter your password"/>
        <p>Your password is: {{password}}</p>
        <input type="submit" value="Sign Up">






  </body>
</html>
